
<h1 class="sub-header">2015年考勤</h1>

<ul id="myTabs" class="nav nav-tabs" role="tablist" >
    <li role="presentation"  ng-repeat="year in coaYear" ng-class="{active:$index === 0}" ng-click="nowYear=2014">
        <a>{{year.year}}年</a>
    </li>
</ul>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>月份</th>
            <th>总打卡次数</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="d in yearData">
            <td>{{d.year}}年{{d.month}}月</td>
            <td>{{d.total ? (d.total + '次') : '无数据'}}</td>
            <td><a ui-sref="main.record({year:year,month:d.month})">编辑考勤</a> <a ng-click="upload()">上传考勤</a></td>
        </tr>
        </tbody>
    </table>
</div>
<form ng-submit="fileUpload()">
    <input type="file" name="excel" ng-model="upload.excel" upload-file=""/><button type="submit">上传</button>
</form>